<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Solar-Sentinel</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script>
        const API_KEY = "{{ api_key }}";
    </script>
</head>
<body>
    {% include "partials/content.html" %}
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
